# Lambda School Data Science Module 124

## Introduction to Bayesian Inference

### 1) In your own words, summarize the difference between Bayesian and Frequentist statistics.

The Frequentist approach is to look at the data and test their hypothesis. WHile the Bayesian approach is to use data as well as ou rknowlage about the world to infer information.

###For questions 2) - 8) use the following information:

Let A be the event of surviving the sinking of the Titanic and B be the event of being a 1st class passenger.

In [1]:
import pandas as pd
import numpy as np


data_url = 'https://raw.githubusercontent.com/Chelsea-Myers/Lambda-Intro/master/Titanic.csv'

df = pd.read_csv(data_url, skipinitialspace=True, header=0)

print(df.shape)
df.head()

(887, 8)

   Survived  Pclass  ... Parents/Children_Aboard     Fare
0         0       3  ...                       0   7.2500
1         1       1  ...                       0  71.2833
2         1       3  ...                       0   7.9250
3         1       1  ...                       0  53.1000
4         0       3  ...                       0   8.0500

[5 rows x 8 columns]

2) Calculate P(A) = P(Surving)

In [9]:
print(df['Survived'].value_counts())
print(545+342)
p_a = 342/887
print(p_a)

0    545
1    342
Name: Survived, dtype: int64
887
0.3855693348365276

3) Calculate P(B) = P(Being a 1st class passenger)

In [13]:
print(df['Pclass'].value_counts())
p_b = 216/887
print(p_b)

3    487
1    216
2    184
Name: Pclass, dtype: int64
0.24351747463359638

4) Calculate P(A $\cap$ B) = P(Being a 1st class passenger and surviving)

In [41]:
print(pd.crosstab(df['Survived'], df['Pclass'], margins=True))
p_a_and_b = 136/887
print(p_a_and_b)

Pclass      1    2    3  All
Survived
0          80   97  368  545
1         136   87  119  342
All       216  184  487  887
0.15332581736189402

5) Calculate P(A|B) = P(Surviving given that the person was a 1st class passenger)

In [49]:
p_a_given_b = 136/216 
print(p_a_given_b)

0.6296296296296297

6) Calculate (B|A) = P(Being a first class passenger given the person survived)

In [50]:
p_b_given_a = 136/342
print(p_b_given_a)

0.39766081871345027

7) Show that 

$$P(A|B) = \frac{P(A \cap B)}{P(B)}$$

with the numbers you calculate above.

In [51]:
p_a_and_b/p_b

0.6296296296296297

8) Show that 

$$P(A|B) = \frac{P(B|A)P(A)}{P(B)}$$

with the numbers you calculated above.

In [52]:
(p_b_given_a * p_a) / p_b

0.6296296296296297

###Use the following information to answer questions 9) - 13) 


Students arriving at Hogwarts are sorted into one of the four residential houses -- Gryffindor, Hufflepuff, Ravenclaw, and Slytherin -- by the magical Sorting Hat.


In theory, the Hat is supposed to examine each student's personality, consider his or her wishes, and then place the student into the most appropriate house. However, after a thousand years, the Hat has gotten pretty lazy, so it has simplified its sorting process into a two-step algorithm:



All evil students go into Slytherin, obviously.


Everybody else is just randomly sorted into one of the four houses, with a 40% probability of being put into Hufflepuff and a 20% probability of being put into each of the three other houses.


Hermione is shocked when she's sorted into Slytherin! She's never thought of herself as evil, but now that she considers it, becoming the future Dark Lady of Magical Britain does have some appeal...


If 10% of new Hogwarts students are evil, what is the probability that a randomly chosen Slytherin is evil?


Tip: the value you want is P(Evil | Slytherin).

9) Show the intermediate step that allows us to write: 

$$P(Evil|Slytherin)= \frac{P(Slytherin|Evil)P(Evil)}{P(Slytherin)}$$

Answer: $P(Evil \cap Slytherin) = P(Slytherin \cap Evil) = P(Slytherin|Evil) * P(Evil)$

10) Determine P(Slytherin|Evil).

Answer: $$P(Slytherin|Evil) = \frac{P(Evil \cap Slytherin)}{P(Evil)}$$

11) Determine P(Evil).

Answer: $$P(Evil) = \frac{P(Evil \cap Slytherin)}{P(Slytherin|Evil)}$$

12) Determine P(Slytherin).  Hint: This is a little tricky.  This is equal to the probability of a student being evil (and therefore being sorted into Slytherin) plus the probability of not being evil and being sorted into Slytherin.

Answer: $$P(Slytherin) = \frac{P(Slytherin|Evil)P(Evil)}{P(Evil|Slytherin)}$$

13) Calculate P(Evil|Slytherin) using the formula

$$P(Evil|Slytherin)= \frac{P(Slytherin|Evil)P(Evil)}{P(Slytherin)}$$

In [ ]:
p_es = (p_se * p_e) / p_s

#Portfolio Project Assignment

Watch the Porfolio Project websites mini-lecture: https://www.youtube.com/watch?v=gxbNCGERUjc&feature=youtu.be&ab_channel=LambdaSchool


Begin to set up your own Portfolio Project website.